* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    overflow: hidden;
}

:root {
    --input-error: hsl(0, 100%, 66%);
    --input-error-size: 12px;
    --active-input-border: hsl(249, 99%, 64%);
    --dark-violett: hsl(278, 68%, 11%);
    --grayish-violett: hsl(279, 6%, 55%);
    --light-violett: hsl(270, 3%, 87%);
}

/* Input Options */
.error {
    color: var(--input-error);
    font-size: var(--input-error-size);
    padding-top: 5px;
}

input:focus {
    outline: var(--active-input-border) solid 1px;
}

input:visited {
    outline: var(--active-input-border) solid 1px;
}

input:invalid {
    border: red solid 2px;
}


/** Main Form Content **/
main {
    display: flex;
    height: 100vh;
    width: 100%;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-center-wrapper {
    width: 500px;
    height: 450px;
}

.form-center-inner {
    position: relative;
    width: 100%;
    height: 100%;
}


form {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    transform: rotateY(90deg);
}

.form-card-back h1 {
    text-transform: uppercase;
    color: var(--dark-violett);
    letter-spacing: 3px;
    padding: 20px 0;
}

.form-card-back h2 {
    color: var(--grayish-violett);
    font-weight: normal;
    padding: 0 0 20px 0;
}

.btn {
    background-color: var(--dark-violett);
    width: 80%;
    border: none;
    color: var(--light-violett);
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px 0;
    cursor: pointer;
}

.toggle {
    transform: rotateY(0deg);
}


/** Left Card Section Bassis **/
.card {
    width: 350px;
    height: 200px;
    color: white;
    position: relative;
}

.card-content {
    position: relative;
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
}

.cardfront {
    background-image: url(./images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;
    position: absolute;
    top: 200px;
    right: -100px;

}

.cardfront-bottom {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding-right: 20px;
}

.cardback {
    background-image: url(./images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 410px;
    right: -180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardnumber {
    padding-bottom: 20px;
}

.cardnd {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cardcvc {
    padding-bottom: 10px;
}

/* Form Contents like input, label, fieldset, submit */
label {
    padding-bottom: 10px !important;
}

input {
    padding: 15px;
    border-radius: 7px;
    border: solid hsl(270, 3%, 87%) 1px;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: none;
}

.datecvc {
    display: flex;
    gap: 10px;
}

#submit {
    color: white;
    font-size: 18px;
}

input[type=submit] {
    background-color: hsl(278, 68%, 11%);
    border: none;
    color: white;
    cursor: pointer;
}




/** Media Queries **/
@media screen and (max-width: 420px) {
    main {
        flex-direction: column;
    }

    .form-center-wrapper {
        width: 100%;
    }

    .form-center-inner {
        margin-bottom: 30px;
    }

    .form-content {
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .form-card-back h1 {
        font-size: 26px;
    }

    .form-card-back h2 {
        font-size: 16px;
    }

    form {
        width: 100%;
        padding: 0 20px;
    }

    .card {
        width: 305px;
    }

    .card-content {
        position: relative;
        background-image: url(./images/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 300px;
    }

    .cardfront-bottom {
        position: absolute;
        bottom: 42px;
        width: 100%;
        padding-right: 20px;

    }

    .cardback {
        top: 20px;
        right: 20px;
    }

    .cardcvc {
        padding-bottom: 30px;
    }

    .cardfront {
        left: 20px;
        bottom: -96px;
        top: 125px;
        z-index: 1;
    }

    .cardnumber {
        padding-bottom: 5px;
    }


    .attribution {
        position: fixed;
        left: 10px;
        bottom: 10px;
        font-size: 14px;
        text-align: center;
        color: var(--grayish-violett);
    }

}